/* TAGS */

html, body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

i {
    color: var(--color-3);
}


/* PAGE */

#content-wrapper {
    background-color: var(--color-4);
}

#pic {
    margin-top: -15px;
}

#personal-info {
    position: relative;
    height: 21%;
    background-color: var(--color-3);
}

#lang-switch {
    position: absolute;
    top: 0;
    right: 0;
}

#contact-info > li > div {
    font-size: var(--text-size-5);
    font-weight: var(--text-weight-2);
    color: var(--color-1);
}

#contact-info > li > i {
    font-size: var(--icon-size-1);
}

#skills li:last-child {
    margin-top: -15px;
}

#interests i {
    font-size: var(--icon-size-2);
}

#privacy-policy {
    font-size: var(--text-size-5);
}

/* CLASSES */

.black {
    color: var(--color-1);
}

.white {
    color: var(--color-2);
}

.coral {
    color: var(--color-3);
}

.title-1 {
    font-size: var(--text-size-1);
    font-weight: var(--text-weight-2);
}

.title-2 {
    font-size: var(--text-size-3);
    font-weight: var(--text-weight-1);
}

.title-3 {
    font-size: var(--text-size-3);
    font-weight: var(--text-weight-2);
}

.title-4 {
    font-size: var(--text-size-4);
    font-weight: var(--text-weight-2);
}

.text-1 {
    font-size: var(--text-size-4);
    font-weight: var(--text-weight-2);
}

.text-2 {
    font-size: var(--text-size-4);
    font-weight: var(--text-weight-3);
}

.hr-left {
    width: 90%;
    margin: auto;
    border: 1px solid var(--color-3);
}

.hr-full {
    width: 100%;
    margin: auto;
    border: 1px solid var(--color-3);
}

.hr-privacy {
    width: 100%;
    margin: auto;
    border: 1px solid var(--color-1);
}

.experience-body li {
    position: relative;
    padding-left: 20px;
}

.experience-body li::before {
content: "";
position: absolute;
left: 0;
top: 0.6em;
width: 7px;
height: 7px;
border: 2px solid var(--color-3);
}

.selected {
    color: var(--color-2);
    font-size: var(--text-size-3);
    font-weight: var(--text-weight-2);
}

.not-selected {
    color: var(--color-1);
    font-size: var(--text-size-5);
    font-weight: var(--text-weight-2);
}

/* LOGOS */

#html-logo {
    height: 25px;
    margin-left: 10px;
}

#css-logo {
    height: 25px;
    margin-left: 10px;
}

#javascript-logo {
    height: 35px;
    margin-left: 5px;
}

#vuejs-logo {
    height: 25px;
    margin-left: 5px;
}

#php-logo {
    height: 20px;
    margin-left: 10px;
}

#laravel-logo {
    height: 40px;
}

#mysql-logo {
    height: 60px;
}

#reading-pic {
    height: 40px;
    margin-left: 15px;
}

#cinema-pic {
    height: 40px;
    margin-left: 10px;
    margin-top: -10px;
}

#sport-pic {
    height: 40px;
    margin-left: 10px;
}



/* VARIABLES */

:root {
    /* Colors */
    --color-1: #000000;
    --color-2: #FFFFFF;
    --color-3: #CC6161;
    --color-4: #D9D9DA;
    /* Text size */
    --text-size-1: 30px;
    --text-size-2: 20px;
    --text-size-3: 18px;
    --text-size-4: 15px;
    --text-size-5: 12px;
    --text-size-6: 10px;
    /* Text weight */
    --text-weight-1: 700;
    --text-weight-2: 400;
    --text-weight-3: 300;
    /* Icons size */
    --icon-size-1: 20px;
    --icon-size-2: 25px;
}